### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data_df = pd.DataFrame(purchase_data)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
player_count = len(purchase_data_df["SN"].unique())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#find unique items#
items_unique = len(purchase_data_df["Item ID"].unique())
items_unique
#average price of item#
avg_price_item = purchase_data_df["Price"].mean()

#find total revenue#
total_revenue = purchase_data_df["Price"].sum()
total_revenue
#find total number of purchases#
total_purchase = purchase_data_df["Purchase ID"].count()
total_purchase
#make summary table called Purchasing Analysis#

purchase_analysis_df = pd.DataFrame({"Total Unique Items": [items_unique],
                                      "Average Price": [avg_price_item],
                                      "Total Purchases": [total_purchase],
                                      "Total Revenue": [total_revenue]})


purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:,.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:,.2f}".format)

purchase_analysis_df

   Total Unique Items Average Price  Total Purchases Total Revenue
0                 179         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#find unique values for each gender#

sn_gender_group = purchase_data_df.groupby(["Gender", "SN"])
sn_gender_group.head()

#How many of each gender#
count_per_gender = sn_gender_group["Gender"].value_counts()
count_per_gender


female_total = len(count_per_gender.loc["Female"])
male_total = len(count_per_gender.loc["Male"])
other_total = len(count_per_gender.loc["Other / Non-Disclosed"])


#Percent of each gender#

female_percent = female_total/player_count * 100
male_percent = male_total/player_count * 100
other_percent = other_total/player_count * 100


#Summary table of gender count#
        
gender_data = {"Percentage": [female_percent, male_percent, other_percent], "Total Count": [female_total, male_total, other_total]}

gender_df = pd.DataFrame(data=gender_data, index=["Female", "Male", "Other / Non-Disclosed"])

gender_df["Percentage"] = gender_df["Percentage"].map("{:,.2f}%".format)

gender_df

                      Percentage  Total Count
Female                    14.06%           81
Male                      84.03%          484
Other / Non-Disclosed      1.91%           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#find purchase count per gender

gender_purchase = purchase_data_df.groupby(["Gender"])
gender_purchase

purchase_count = gender_purchase["Purchase ID"].count()
purchase_count
#find the average purchase price per gender
avg_price = gender_purchase["Price"].mean()
avg_price

gender_total = gender_purchase["SN"].nunique()
gender_total

#find Total purchase value

total_value = gender_purchase["Price"].sum()
total_value

#average purchase total
avg_purchase_t = (total_value/gender_total).map("${:,.2f}".format)
avg_purchase_t

gen_purchase_df = pd.DataFrame({"Purchase Count": purchase_count,
                                "Avg Purchase Price": avg_price.map("${:,.2f}".format),
                                "Avg Purchase Total": avg_purchase_t})
gen_purchase_df

                       Purchase Count Avg Purchase Price Avg Purchase Total
Gender
Female                            113              $3.20              $4.47
Male                              652              $3.02              $4.07
Other / Non-Disclosed              15              $3.35              $4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names)

age_range_group= purchase_data_df.groupby("Age Ranges")

total_players_age = age_range_group["SN"].nunique()
total_players_age

pct_players_age = (total_players_age/player_count * 100).map("{:,.2f}%".format)

pct_players_age

age_demo_df = pd.DataFrame({"Percentage": pct_players_age,
                           "Total Players": total_players_age})

age_demo_df

           Percentage  Total Players
Age Ranges
<10             2.95%             17
10-14           3.82%             22
15-19          18.58%            107
20-24          44.79%            258
25-29          13.37%             77
30-34           9.03%             52
35-39           5.38%             31
40+             2.08%             12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Purchase Count
age_purchase_ct = age_range_group["Purchase ID"].count()
age_purchase_ct
#Average Purchase Price
age_avg_price = (age_range_group["Price"].mean()).map("${:,.2f}".format)
age_avg_price
#Total Purchase Value
total_purchase_val = (age_range_group["Price"].sum()).map("${:,.2f}".format)
total_purchase_val
#Average Total Purchase per Person
age_avg_per_player = (age_range_group["Price"].sum()/total_players_age).map("${:,.2f}".format)

age_avg_per_player

purchase_age_df = pd.DataFrame({"Purchase Count": age_purchase_ct,
                   "Average Purchase Price": age_avg_price,
                   "Purchase Totals Per Range": total_purchase_val,
                   "Average Perchase Total Per Person": age_avg_per_player})

purchase_age_df

,Purchase Count,Average Purchase Price,Purchase Totals Per Range,Average Perchase Total Per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
sn_group = purchase_data_df.groupby(["SN"])

tot_purchase = sn_group["Purchase ID"].count()
tot_purchase

avg_purch_price = (sn_group["Price"].mean()).map("${:,.2f}".format)
avg_purch_price

totalpurchase_val = (sn_group["Price"].sum()).map("${:,.2f}".format)
totalpurchase_val

top_spenders_df = pd.DataFrame({"Number of Purchases": tot_purchase,
                               "Average Purchase": avg_purch_price,
                               "Total Purchases": totalpurchase_val})
five_top_df = top_spenders_df.sort_values("Total Purchases", ascending=False)
five_top_df.head()

              Number of Purchases Average Purchase Total Purchases
SN
Haillyrgue51                    3            $3.17           $9.50
Phistym51                       2            $4.75           $9.50
Lamil79                         2            $4.64           $9.29
Aina42                          3            $3.07           $9.22
Saesrideu94                     2            $4.59           $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Retrieve the Item ID, Item Name, and Item Price columns (using .loc)  
pop_df = purchase_data_df[["Item ID","Item Name","Price"]]
pop_df
# Group by Item ID and Item Name. 
popular_group = pop_df.groupby(["Item ID", "Item Name"])
popular_group

#Purchase count
item_count = popular_group["Item ID"].count()
item_count
#avg item price
item_avg_price = (popular_group['Price'].mean()).map("${:,.2f}".format)
item_avg_price

#total purchse value for item
item_pvalue = popular_group["Price"].sum()
item_pvalue

pop_items_df = pd.DataFrame({"Purchase Count": item_count,
                             "Avg Item Price": item_avg_price,
                             "Total Purchase Value": item_pvalue})
most_pop_items_df = pop_items_df.sort_values("Purchase Count", ascending=False)
most_pop_items_df["Total Purchase Value"] = most_pop_items_df["Total Purchase Value"].map("${:,.2f}".format)
most_pop_items_df.head()

,,Purchase Count,Avg Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:


x = pop_items_df.sort_values(["Total Purchase Value"], ascending=False)

x.head()

,,Purchase Count,Avg Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
103,Singed Scalpel,8,$4.35,34.80